* {
  box-sizing: border-box;
}

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 35px;
  border-radius: 6px;
}

.weather-content h3 {
  margin-right: 20px;
}

.weather-wrapper {
  width: 500px;
}

.search-inputs-wrapper {
  padding: 10px;
  border-bottom: 2px solid #fff;
}

.search-inputs-wrapper input,
.search-inputs-wrapper button {
  height: 30px;
  border-radius: 6px;
  border: 0;
}

.search-inputs-wrapper input {
  padding: 10px;
  width: 200px;
}

.search-inputs-wrapper button {
  background-color: #fff;
  width: 65px;
}

.error-message {
  color: firebrick;
}

.weather-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.weather-row p {
  padding: 0 10px 0 0;
}

.weather-settings,
.weather-history-query,
.weather-history-response {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
}

.weather-settings {
  height: 125px;
  right: 25px;
  width: 200px;
  align-items: stretch;
  justify-content: center;
  top: 25px;
}

.weather-history-query {
  min-width: 100px;
  height: auto;
  left: 25px;
  padding: 0 16px;
  top: 25px;
}

.weather-history-response {
  min-width: 100px;
  padding: 0 16px;
  bottom: 25px;
  left: 25px;
}

.weather-history-response,
.weather-history-query{
  font-size: 12px;
}

.weather-history-response p,
.weather-history-query p {
  text-transform: capitalize;
}


.forecast button {
  height: 30px;
  border-radius: 6px;
  border: 0;
  background-color: #fff;
  padding: 0 36px;
}

.forecast {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-top: 2px solid #fff;
}

.forecast p {
  color: #1d6684;
}
