/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Handlee', cursive;
}

html {
  height:100%;
}

body {
  background: rgba(255, 255, 255, 0.3) url("assets/img/bg.jpg");
  background-size: cover;
  height:100%;
  margin: 0;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  animation: fade-in 0.7s  ease;
}

@keyframes fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  10% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  20% {
    background-color: rgba(255, 255, 255, 0.7);
  }
  30% {
    background-color: rgba(255, 255, 255, 0.6);
  }
  40% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  60% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  70% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  80% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  90% {
    background-color: rgba(255, 255, 255, 0.0);
  }
  100% {
    background-color: transparent;
  }
}


app-root {
  height:100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

app-forecast-form {
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);

}
