<div class="forecast-form-weather">
  <h3>Forecast on 7 days  {{this.forecastWeather.location.country}}, {{this.forecastWeather.location.name}}</h3>
  <div class="forecast-weather">
    <div *ngFor = "let forecastDay of forecastWeather.forecast.forecastday" class="forecast-weather-content">
      <p>{{forecastDay.date}}</p>
      <p>{{convertDateToTheWeekdayName(forecastDay.date)}}</p>
      <img src="{{forecastDay.day.condition.icon}}" alt="">
      <div class="forecast-min-max-temp">
        <div class="row-forecast-weather">
          <h6>Max</h6>
          <p *ngIf="!checkedSwitcherTempForecast">{{forecastDay.day.maxtemp_c}}C°</p>
          <p *ngIf="checkedSwitcherTempForecast">{{forecastDay.day.maxtemp_f}}F°</p>
        </div>
        <div class="row-forecast-weather">
          <h6>Max</h6>
          <p *ngIf="!checkedSwitcherTempForecast" >{{forecastDay.day.mintemp_c}}C°</p>
          <p *ngIf="checkedSwitcherTempForecast">{{forecastDay.day.mintemp_f}}F°</p>
        </div>
    </div>
      <div class="row-forecast-weather">
        <h6>Wind</h6>
        <p *ngIf="!checkedSwitcherSpeedForecast">{{forecastDay.day.maxwind_kph}} kilometer per hour</p>
        <p *ngIf="checkedSwitcherSpeedForecast">{{forecastDay.day.maxwind_mph}} miles per hour</p>
      </div>
    </div>
  </div>
</div>


