<div class="forecast-form-weather">
  <h3>Forecast on 7 days  {{this.forecastWeather.location.country}}, {{this.forecastWeather.location.name}}</h3>
  <div class="forecast-weather">
    <div *ngFor = "let forecastDay of forecastWeather.forecast.forecastday" class="forecast-weather-content">
      <p>{{forecastDay.date}}</p>
      <p>{{convertDateToTheWeekdayName(forecastDay.date)}}</p>
      <img src="{{forecastDay.day.condition.icon}}" alt="">
      <div class="forecast-min-max-temp">
        <div class="row-forecast-weather">
          <h6>Max</h6>
          <p>{{forecastDay.day.maxtemp_c}}C°</p>
        </div>
        <div class="row-forecast-weather">
          <h6>Max</h6>
          <p>{{forecastDay.day.mintemp_c}}C°</p>
        </div>
      </div>

    </div>
  </div>
</div>


